[build-system]
requires = [
    "hatchling",
]
build-backend = "hatchling.build"

[project]
name = "uproot"
description = "ROOT I/O in pure Python and NumPy."
readme = "README.md"
license = "BSD-3-Clause"
requires-python = ">=3.7"
authors = [
    { name = "Jim Pivarski", email = "pivarski@princeton.edu" },
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Operating System :: MacOS",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Topic :: Scientific/Engineering :: Physics",
    "Topic :: Software Development",
    "Topic :: Utilities",
]
dependencies = [
    "awkward>=2.0.0",
    "importlib-metadata;python_version<\"3.8\"",
    "numpy",
    "packaging",
]
dynamic = [
    "version",
]

[project.optional-dependencies]
dev = [
    "awkward>=2.0.0",
    "boost_histogram>=0.13",
    "dask-awkward>=2022.12a3;python_version >= \"3.8\"",
    "dask[array];python_version >= \"3.8\"",
    "hist>=1.2",
    "pandas",
    "awkward-pandas;python_version >= \"3.8\"",
]
test = [
    "awkward>=2.0.0",
    "lz4",
    "pytest>=6",
    "pytest-timeout",
    "pytest-rerunfailures",
    "requests",
    "scikit-hep-testdata",
    "xxhash",
]

[project.urls]
Download = "https://github.com/scikit-hep/uproot5/releases"
Homepage = "https://github.com/scikit-hep/uproot5"

[tool.hatch.version]
path = "src/uproot/version.py"


[tool.pytest.ini_options]
minversion = "6.0"
addopts = ["-ra", "--showlocals", "--strict-markers", "--strict-config"]
xfail_strict = true
filterwarnings = [
    "error",
    "default:module 'sre_.*' is deprecated:DeprecationWarning"
]
log_cli_level = "info"
testpaths = ["tests"]
markers = [
    "slow",
    "network",
    "xrootd",
]
timeout = 600

[tool.isort]
profile = "black"
