name: "Test build"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        platform: ["windows-latest", "macos-latest", "ubuntu-latest"]
        python-version: ["3.6", "3.7", "3.8", "3.9"]
        exclude:
          - platform: "macos-latest"
            python-version: "3.6"
          - platform: "windows-latest"
            python-version: "3.6"
          - platform: "windows-latest"
            python-version: "3.7"

    runs-on: "${{ matrix.platform }}"

    # Required for miniconda to activate conda
    defaults:
      run:
        shell: "bash -l {0}"

    steps:
      - uses: "actions/checkout@v2"

      - name: "Get conda"
        uses: "conda-incubator/setup-miniconda@v2"
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: "conda-forge"

      - name: "Install most dependencies"
        run: |
          conda env list
          conda info
          conda install numpy pandas pytest flake8 lz4 python-xxhash requests
          pip install scikit-hep-testdata
          conda list

      - name: "Install Awkward"
        run: |
          conda env list
          pip install "awkward>=1.0.0"
          conda list

      - name: "Install XRootD"
        if: "runner.os != 'macOS'  &&  runner.os != 'Windows'"
        run: |
          conda env list
          conda install xrootd
          conda list

      - name: "Pip install the package"
        run: pip install .

      - name: "Run flake8"
        run: python -m flake8

      - name: "Run pytest"
        run: python -m pytest -vv tests
