name: "Test build"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    strategy:
      matrix:
        platform: ["windows-latest", "macos-latest", "ubuntu-latest"]
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        exclude:
          - platform: "macos-latest"
            python-version: "3.6"
          - platform: "windows-latest"
            python-version: "3.6"
          - platform: "windows-latest"
            python-version: "3.7"

    runs-on: "${{ matrix.platform }}"

    # Required for miniconda to activate conda
    defaults:
      run:
        shell: "bash -l {0}"

    steps:
      - uses: "actions/checkout@v3"

      - name: "Get conda"
        uses: "conda-incubator/setup-miniconda@v2"
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: "conda-forge"

      - name: "Install most dependencies"
        run: |
          conda env list
          conda info
          conda install numpy pandas pytest lz4 python-xxhash requests
          pip install scikit-hep-testdata boost-histogram hist dask[array]
          conda list

      - name: "Install Awkward"
        if: "runner.os != 'Windows'"
        run: |
          conda env list
          pip install --pre "awkward>=1.0.0"
          conda list

      - name: "Install ROOT"
        if: "matrix.python-version == 3.8  &&  runner.os != 'macOS'  &&  runner.os != 'Windows'"
        run: |
          conda env list
          conda install root
          conda list

      - name: "Install XRootD"
        if: "runner.os != 'macOS'  &&  runner.os != 'Windows'"
        run: |
          conda env list
          conda install xrootd
          conda list

      - name: "Install pytest-rerunfailures"
        id: rerunfailures-install
        run: |
          conda env list
          conda install pytest-rerunfailures || pip install pytest-rerunfailures
          conda list

      - name: "Pip install the package"
        run: python -m pip install .

      - name: "Run pytest"
        run: |
          PYTEST_EXTRA_FLAGS="--only-rerun requests.exceptions.HTTPError"
          python -m pytest -vv tests \
            --reruns 3 --reruns-delay 30 \
            ${PYTEST_EXTRA_FLAGS:-}
