name: Deploy to PyPI

on:
  workflow_dispatch:
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build_dist:
    name: Build and upload sdist and wheel
    if: github.repository_owner == 'scikit-hep'
    uses: ./.github/workflows/build-distributions.yml

  publish:
    environment:
      name: pypi
    needs: [build_dist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    permissions:
      id-token: write
      attestations: write
      contents: read

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: Packages
          path: dist

      - name: List distributions to be deployed
        run: ls -lha dist/

      - name: Generate artifact attestation for sdist and wheel
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-path: dist/uproot-*

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true
