name: Deploy to PyPI

on:
  workflow_dispatch:
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build_dist:
    name: Build and upload sdist and wheel
    if: github.repository_owner == 'scikit-hep'
    uses: ./.github/workflows/build-distributions.yml

  publish:
    needs: [build_dist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    permissions:
      id-token: write
      attestations: write
      contents: read

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: distribution-artifact
          path: dist

      - name: List distributions to be deployed
        run: ls -lha dist/

      - name: Generate artifact attestation for sdist and wheel
        uses: actions/attest-build-provenance@49df96e17e918a15956db358890b08e61c704919 # v1.2.0
        with:
          subject-path: dist/uproot-*

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.pypi_password }}
